/**
 * Overrides
 */

.form-item-defaultImages {
  display: none;
}

input[type=checkbox]#edit-featured, input[type=checkbox]#edit-enabled {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox]#edit-featured + label.option, input[type=checkbox]#edit-enabled + label.option {
  padding-left:23px;
  height:18px; 
  display:inline-block;
  line-height:18px;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
  /*margin-right: 10px;*/
  /*float: left;*/
  font-size: 0.95rem;
}

input[type=checkbox]#edit-featured:checked + label.option, input[type=checkbox]#edit-enabled:checked + label.option {
  background-position: 0 -18px;
}

.form-item-featured label.option, .form-item-enabled label.option {
  background-image:url(../images/csscheckbox_bd79c31d3d14537c0cb1e60db877c8e1.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}